/* Breakpoints */
$phone: 480px;
$mini: 620px;
$tablet: 768px;
$middle: 1000px;
$desktop: 1250px;

/* Social */
$facebook: #306199;
$twitter: #26c4f1;
$google: #e93f2e;
$pinterest: #b81621;
$linkedin: #0077b5;
$youtube: #e21d17;
$instagram: #405de6;
$amazon: #ff9900;

/* Transitions */
$long: 0.3s;
$midway: 0.15s;
$short: 0.1s;

/* Paddings */
$large: 140px;
$mid: 100px;
$medium: 70px;
$small: 35px;
$mobile: 15px;
$radius: 5px;

$red: #df494a;
$blue: #5bc1ed;

$gold1: #FAAF3A;
$gold2: #F7921E;
$textGrey: #666666;

$headline: masqualero, serif;
$body: freight-sans-pro, sans-serif;

@import "helpers";

p,
a,
li,
span {
  font-family: $body;
}

.btn {
  display: block;
  width: max-content;
  max-width: 100%;
  color: white;
  background: $gold2;
  border-radius: 50px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
  }
}
