$red: #df494a;
$blue: #5bc1ed;

$headline: masqualero, serif;
$body: freight-sans-pro, sans-serif;

p,
a,
li,
span {
  font-family: $body;
}

.btn {
  display: block;
  width: max-content;
  max-width: 100%;
  color: white;
  background: $red;
  border-radius: 50px;
  text-align: center;
  outline: none;
  border: none;
  box-shadow: none;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
  }
}
