@import "vars";

.header {
  position: absolute;
  width: 100%;
  z-index: 5;

  .contain {
    width: 1200px;
    margin: 0 auto;
    display: table;
  }

  .logo {
    width: max-content;
    float: left;

    h2 {
      font-family: masqualero, serif;
      text-align: center;

      span {
        &:first-of-type {
          font-size: 18px;
          font-family: freight-sans-pro, sans-serif;
          text-transform: uppercase;
        }
        &:last-of-type {
          font-size: 28px;
          display: block;
        }
      }
    }
  }
  .navigation {
    width: max-content;
    float: right;

    nav {
      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        background: white;
        border-radius: 50px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

        li {
          a {
            padding: 10px 25px;
            display: block;
            color: $red;
            text-decoration: none;
            font-weight: 600;
            text-decoration: underline;

            &.btn {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  @include desktopDown {
    div.contain {
      width: calc(100% - #{$mobile * 2});
    }
  }
  @include miniDown {
    div.contain {
      .navigation {
        nav {
          ul {
            flex-direction: column;
            // border-radius: 0;

            li {
              &:first-of-type {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
