@import "vars";

.hero {
  position: relative;
  height: 800px;
  overflow: hidden;

  &:before,
  &:after {
    content: " ";
    position: absolute;
    background: $red;
    border-radius: 50%;
    z-index: -1;
  }

  &:before {
    opacity: 0.1;
    width: 850px;
    height: 850px;
    top: -425px;
    left: -425px;
  }

  &:after {
    opacity: 0.05;
    width: 1450px;
    height: 1450px;
    top: -725px;
    left: -725px;
  }

  .contain {
    width: 1200px;
    margin: 0 auto;
  }

  .info {
    height: 800px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 3;

    h1 {
      font-family: masqualero, serif;
      font-size: 74px;
      line-height: 80px;
      margin: 0 0 25px 0;
    }
    p {
      font-family: freight-sans-pro, sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 0 0 15px 0;
      padding-right: 100px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .visual {
    position: absolute;
    top: 0;
    right: 0;

    .outerLayer {
      clip-path: url(#curve2);
    }
    .innerLayer {
      clip-path: url(#curve1);
      width: 1000px;

      > div {
        opacity: 0.5;
      }
    }
    video {
      position: absolute;
      top: 55px;
      width: 300px;
      right: 18vw;
      transform: skew(-7deg, 6deg);
    }
  }

  @include desktopDown {
    div.contain {
      width: 100%;
      padding: 0 $mobile;
    }
  }
  @include tabletDown {
    div.contain {
      .info {
        h1 {
          font-size: 54px;
          line-height: 60px;
          margin: 0 0 20px 0;
        }
        p {
          font-size: 16px;
          line-height: 26px;
          margin: 0 0 10px 0;
          padding-right: 50px;
        }
      }
    }
    .visual {
      .innerLayer {
        width: 700px;
      }
      video {
        top: 75px;
        width: 250px;
        right: 8vw;
      }
    }
  }
  @include miniDown {
    // height: 925px;
    height: auto;
    padding-bottom: 70px;

    div.contain {
      padding-top: 125px;

      .info {
        height: auto;
        width: 100%;

        h1 {
          font-size: 42px;
          line-height: 50px;
          margin: 0 0 15px 0;
        }
        p {
          font-size: 16px;
          line-height: 26px;
          margin: 0 0 10px 0;
          padding-right: 30px;
        }
      }
    }
    .visual {
      display: none;

      // .outerLayer {
      //   display: none;
      // }
      // video {
      //   top: 400px;
      //   width: 200px;
      //   right: calc(50vw - 100px);
      // }
    }
  }
}
