@import "vars";

.outerContainer {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}


.portfolio,
.qualifications {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(95px, auto);
  }

  @include desktopDown {
    div.contain {
      width: 100%;

      .grid {
        padding: 0 $mobile;
      }
    }
  }

  @include tabletDown {
    div.contain {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

.qualifications {
  padding: 100px 0;
}
