@import "vars";

.portfolioItem {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  padding: 25px;
  border-radius: 15px;

  .itemContain {
    .visual {
      height: 300px;
      overflow: hidden;

      img {
        // width: 100%;
        max-width: 100%;
        border-radius: 15px;
        max-height: 400px;
        width: auto;
        margin: 0 auto;
        display: block;
      }
    }
    .info {
      padding-top: 25px;

      h3 {
        font-family: freight-sans-pro, sans-serif;
        font-size: 32px;
        line-height: 38px;
        margin: 0 0 10px 0;
      }
      p {
        margin: 0;
        font-size: 18px;
        line-height: 28px;
      }
      em {
      }
      .badges {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 15px;

        span {
          display: block;
          width: max-content;
          border-radius: 5px;
          padding: 7px 14px;
          background: rgba($blue, 0.7);
          margin-right: 7px;
          margin-bottom: 7px;
          // color: white;
          // text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

  @include middleDown {
    div.itemContain {
      .visual {
        height: auto;
      }
      .info {
        h3 {
          font-size: 28px;
          line-height: 34px;
        }
        p {
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}
