.qualificationItem {
  .itemContain {
    h3 {
      font-size: 42px;
    }
    ul,
    ol {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        strong,
        span {
          display: block;
          font-family: freight-sans-pro, sans-serif;
          font-size: 18px;
          line-height: 28px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
